<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.watchface">
    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="com.google.android.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.DeviceDefault">
        <service
            android:name=".WatchFaceService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <!-- 2 -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <!-- 3 -->
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_circular" />
            <!-- 4 -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
    </application>

</manifest>
